.container {
    color: #fff;
    padding: 0px;
    font-family: "century gothic";
    text-color:white;
}
.card{
    height: 200px;
    background-color: #000;
    transition: 0.6s;
    transform-style: preserve-3d;
    text-align: center;
    vertical-align: middle;
    text-color: #fff !important;
    width: 20rem;
}
.card-body{
    width: 100%;
    height: 100%;
    line-height: 350px !important;
    position:relative !important;
    vertical-align: middle !important;
}
.front {
    text-align: center;
}
.back{
    background: #FF9900;
}
.card-footer{
    position:absolute;
    bottom:0;
    width:100%;
    transform-style: preserve-3d;
}
.side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotate(0deg) translateZ(1px);
}
.container:hover .card,
.back {
    transform: rotateY(180deg) translateZ(1px);
}
.card-footer{
    background: none;
    text-color:white;
    text-align: left;
    font-size: .7rem;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    border: 0;
}
.typography h3{
    vertical-align: middle;
    line-height: 120px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color:white;
    font-family:century gothic;
}
.typography h2{
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 15px;
    color: white;
    font-family: century gothic;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    font-family:century gothic;
    font-weight:normal;
}
.typography p {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 20px;
    font-family:century gothic;
}
.hr{
    border-top: 1px solid #FF9900;
}
.search_div{
    border-radius:4px;
    padding-right:2px;
    background: #eee;
    line-height:40px;
    position: relative;
    overflow: auto;

}
.search_div>div{
    width: 80%;
}
.gray-bg
{
    background: #eee;
}
.h1{
    font-weight:bold;
    font-size:22px;
    margin-top:5px;
}