#map_canvas.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 250px !important;
}
#map_canvas {
 height: 100%;
 width: 100%;
 margin: 0px;
}
