@media screen and (max-width: 590px) {
    .heading{
        font-size:12px;
    }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    .heading{
        font-size:12px;
    }
    .form-control
    {
        width: 100% !important;
    }
    .search_div>div{
        width: 50%;
    }
    .card{
        width:18rem;
    }
}
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    table, thead, tbody, th, td, tr {
        display: block;
    }
    td:before {
        font-weight: bold;
    }
    thead tr {
        top: -9999px;
        left: -9999px;
        position: absolute;
    }
    td:nth-of-type(1):before { content: "ID: "; }
    td:nth-of-type(2):before { content: "Name: "; }
    td:nth-of-type(3):before { content: "Email: "; }
    td:nth-of-type(4):before { content: "Address: "; }
    td:nth-of-type(5):before { content: "Phone: "; }
    td:nth-of-type(6):before { content: "Company: "; }
    td:nth-of-type(7):before { content: "Website: "; }
    td:nth-of-type(8):before { content: ""; }
}